
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add to Favourites - [Property Name]</title>
</head>
<body>
    <h1>Add {{ property.name }} to Your Favourites</h1>
    <p>Click the button below to add this property to your favourites list:</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="add_to_fav">Add to Favourites</button>
    </form>

    <script>
        document.forms[0].onsubmit = function() {
            alert("{{ property.name }} has been added to your favourites!");
        };
    </script>

    <form action="{% url 'show_favourite' %}" method="get">
       <button type="submit">See My Favourites</button>
    </form>
    <form action="javascript:history.back()">
        <button type="button">Back to Listing</button>
    </form>
</body></html>
