{% extends "base.html" %}

{% block title %}Listings{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Listings</h2>
  <div class="row mt-4" id="listing-row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text">Address: {{ listing.title }}</p>
    <p class="card-text" >Landlord: {{ listing.landlord }}</p>
    
    <p class="card-text">Number of Occupants: {{ listing.title }}</p>
    <p class="card-text">Price: {{ listing.rent }}</p>
    <p class="card-text">Bed/Bath Info: {{ listing.room }}</p>
    <p class="card-text">Ratings: {{ listing. }}</p>
    <p class="card-text">Apply for Housing: <a href="{% url 'apply_to_listing' listing.id %}">Apply Now</a></p>

    <form action="favourite.html">
        <p>Add to Favourites : <button>Add</button> </p>
    </form>
    <form action="report.html">
       <p>Report:<button>Have questions?</button></p>
    </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  function showDetails(listingId) {
    var detailsDiv = document.getElementById('details-' + listingId);
    if (detailsDiv.style.display === 'none') {
      detailsDiv.style.display = 'block';
    } else {
      detailsDiv.style.display = 'none';
    }
  }
</script>
{% endblock %}
