{% extends "base.html" %}

{% block title %}Listings{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Listings</h2>
  <div class="row mt-4" id="listing-row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text">Address: {{ listing.address }}</p>
          <p class="card-text">Landlord: {{ listing.landlord.full_name }}</p>
          <p class="card-text">Number of Occupants: {{ listing.occupants }}</p>
          <p class="card-text">Price: {{ listing.rent | floatformat:2 }}</p>
          <p class="card-text">Bed/Bath Info: {{ listing.bedrooms }} beds / {{ listing.bathrooms }} baths</p>
          <p class="card-text">Ratings: {{ listing.rating }}</p>
          <p class="card-text">
            <button onclick="location.href='Application.html'">Apply for Housing</button>
            <button onclick="location.href='review.html'">See Reviews</button>
            <button onclick="location.href='favourite.html'">Add to Favourites</button>
            <button onclick="location.href='report.html'">Report</button>
          </p>
        </div>
      </div>
    </div>
    {% empty %}
      <div class="col-12">
        <p>No listings available.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
